./.bashrc
./.dockerignore
./.gitattributes
./.gitconfig
./.gitignore
./.gitmodules
./.kateproject
./.profile
./.swiplrc
./.viminfo
./.bash_history
./.bash_logout
./.config/
./.config/configstore/
./.config/swi-prolog/
./.gitlab-ci.yml
./.git/
./.git/branches/
./.git/COMMIT_EDITMSG
./.git/config
./.git/description
./.git/FETCH_HEAD
./.git/HEAD
./.git/hooks/
./.git/index
./.git/info/
./.git/logs/
./.git/modules/
./.git/objects/
./.git/ORIG_HEAD
./.git/packed-refs
./.git/refs/
./.vscode/
./.vscode/extensions.json
./.vscode/launch.json
./.vscode/settings.json
./AUTHORS.rst
./bin/
./bin/aliases.sh
./bin/bump_packs.sh
./bin/cls
./bin/copy_modified.sh
./bin/git-mv-with-history
./bin/git-patch-submodules.sh
./bin/git-submodules.sh
./bin/killchilds.sh
./bin/maybe.gitmodules
./bin/mkcert-v1.4.3-linux-amd64
./bin/module_tree.sh
./bin/old-scripts/
./bin/pandoc_xm
./bin/rsync.sh
./bin/StartMUDServer.bat
./bin/startMUDServer.sh
./bin/swipl-yesbot
./bin/websocket_redir.sh
./bin/xpce-client
./buildenv.sh
./buildenvmingw32.sh
./buildenvmingw64.sh
./cookies.txt
./dmiles-attvar.patch
./dmiles-ssl.patch
./Dockerfile
./docker-compose.yml
./docker/
./docker/apache2.conf
./docker/ARCHITECTURE.md
./docker/DEVELOPMENT.md
./docker/dmiles-make-docker.sh
./docker/Dockerfile
./docker/Dockerfile.amd64
./docker/Dockerfile.arm64
./docker/Dockerfile.armhf
./docker/Dockerfile.j2
./docker/Dockerfile.old
./docker/Dockerfile.docker-apache-php
./docker/flavors/
./docker/hooks/
./docker/LICENSE
./docker/Makefile
./docker/make-docker.sh
./docker/README.md
./docker/README-VNC.md
./docker/rootfs/
./docker/run.sh
./docker/screenshots/
./docker/site-config.conf
./docker/start.sh
./docker/supervisor_conf.d/
./docker/TODO
./docker/vhost.conf
./docker/web/
./docs/
./docs/authors.rst
./docs/conf.py
./docs/contributing.rst
./docs/history.rst
./docs/index.md
./docs/index.rst
./docs/installation.rst
./docs/make.bat
./docs/Makefile
./docs/readme.rst
./docs/usage.rst
./docs/_build/
./eclipse-workspace/
./eclipse-workspace/.gitignore
./eclipse-workspace/.goalprefs
./eclipse-workspace/BW4Thuman/
./eclipse-workspace/External Prolog Files/
./eclipse-workspace/logicmoo_pfc_example/
./eclipse-workspace/ProDTTest/
./eclipse-workspace/RemoteSystemsTempFiles/
./eclipse-workspace/sdfasd/
./eclipse-workspace/WumpusAgents/
./eclipse-workspace/.metadata/
./eclipse-workspace/.sonarlint/
./etc/
./etc/profile.d/
./files.txt
./INSTALL.md
./INSTALL-DEPS.md
./INSTALL-EGGDROP.md
./INSTALL-PACKS.md
./INSTALL-SUBMODULES.md
./INSTALL-SWI.md
./Jenkinsfile
./lib/
./lib/cmake/
./lib/deps_installed/
./lib/swipl/
./LICENSE.md
./LogicmooServerLoop.sh
./logicmoo_env.sh
./logicmoo_workspace.vpj~
./logicmoo_workspace.vpj
./logicmoo_workspace.vpw
./logicmoo_workspace.vpwhist
./logicmoo_workspace.vtg
./mkdocs.yml
./other_files.vpj
./packages/
./packages/api/
./packs_lib/
./packs_lib/.gitignore
./packs_lib/aleph/
./packs_lib/assertions/
./packs_lib/auc/
./packs_lib/bddem/
./packs_lib/cplint/
./packs_lib/cplint_r/
./packs_lib/lambda/
./packs_lib/matrix/
./packs_lib/mpi/
./packs_lib/phil/
./packs_lib/README.md
./packs_lib/rocksdb/
./packs_lib/rtchecks/
./packs_lib/sldnfdraw/
./packs_lib/trill/
./packs_lib/xlibrary/
./packs_lib/xtools/
./packs_sys/
./packs_sys/.gitignore
./packs_sys/dictoo/
./packs_sys/Downloads/
./packs_sys/eggdrop/
./packs_sys/instant_prolog_docs/
./packs_sys/logicmoo_agi/
./packs_sys/logicmoo_base/
./packs_sys/logicmoo_cg/
./packs_sys/logicmoo_e2c.vpwhist
./packs_sys/logicmoo_ec/
./packs_sys/logicmoo_lps/
./packs_sys/logicmoo_nars/
./packs_sys/logicmoo_nlu/
./packs_sys/logicmoo_utils/
./packs_sys/lps_corner.savHacked/
./packs_sys/pfc/
./packs_sys/predicate_streams/
./packs_sys/prologmud/
./packs_sys/prologmud_samples/
./packs_sys/slack_prolog/
./packs_sys/swicli/
./packs_sys/wam_common_lisp/
./packs_usr/
./packs_usr/.buildpath
./packs_usr/.pdtproperties
./packs_usr/.project
./packs_web/
./packs_web/.gitignore
./packs_web/butterfly/
./packs_web/ClioPatria/
./packs_web/logicmoo_webui/
./packs_web/swish/
./packs_xtra/
./packs_xtra/logicmoo_packages/
./packs_xtra/logicmoo_pldata/
./packs_xtra/packs_xtra.vpj
./Patch/
./Patch/lib/
./potential_plt_tests.txt
./PRIOR-AGREEMENTS.md
./README.md
./README.rst
./search.txt
./share/
./share/man/
./share/pkgconfig/
./StartLogicmoo.sh
./swipl-devel/
./swipl-devel/.fileheader
./swipl-devel/.gitignore
./swipl-devel/.gitmodules
./swipl-devel/.travis.yml
./swipl-devel/bench/
./swipl-devel/boot/
./swipl-devel/build/
./swipl-devel/CMAKE.md
./swipl-devel/CMakeLists.txt
./swipl-devel/cmake/
./swipl-devel/Code-of-Conduct.md
./swipl-devel/customize/
./swipl-devel/debian/
./swipl-devel/demo/
./swipl-devel/doc/
./swipl-devel/INSTALL
./swipl-devel/library/
./swipl-devel/LICENSE
./swipl-devel/man/
./swipl-devel/packages/
./swipl-devel/README.md
./swipl-devel/README.mingw
./swipl-devel/scripts/
./swipl-devel/snap/
./swipl-devel/src/
./swipl-devel/swipl.home
./swipl-devel/swipl.rc
./swipl-devel/VERSION
./swipl-devel/.clang-format
./swipl-devel/.git/
./web_install.sh
./wikis/
./wikis/logicmoo_workspace.wiki/
./wiki/
./wiki/.dockerignore
./wiki/.editorconfig
./wiki/.git
./wiki/.gitattributes
./wiki/.gitignore
./wiki/class_diagram.html
./wiki/docs/
./wiki/files/
./wiki/img/
./wiki/index.html
./wiki/js/
./wiki/LICENSE
./wiki/narrativedoc-embasp.zip
./wiki/narrativedoc/
./wiki/README.md
./wiki/version_1x.html
./wiki/version_2x.html
./wiki/version_3x.html
./wiki/version_4x.html
./wiki/version_5x.html
./wiki/version_6x.html
./wiki/.circleci/
./wiki/.clang-format
./wiki/.github/
./workspace.code-workspace
