/*  XPCE configuration file for "persistent_frame"
    Saved Mon May  3 10:09:17 2021 by root
*/

configversion(1).
[persistent_frame].

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Option lines starting with a `%' indicate      %
% the value is equal to the application default. %
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

/* (X-)geometry for persistent frames */
history/geometry/prof_frame =   '1101x659+309-268'.
history/geometry/prolog_debugger = '1920x1147--54--3'.
history/geometry/prolog_debug_monitor = '885x403+1097-802'.
history/geometry/prolog_thread_monitor = '502x257+58+150'.

/* Sub-window layout for persistent frames */
history/subwindow_layout/prof_frame = layout(*,[*,layout(*,[276,*]),*]).
history/subwindow_layout/prolog_thread_monitor = layout(*,[*,layout(*,[90,*]),*]).
history/subwindow_layout/prolog_debug_monitor = layout(*,[*,layout(*,[205,*]),*]).
history/subwindow_layout/prolog_debugger = layout(*,[*,*,layout(154,[413,*]),*,*]).
